body {
    margin: 0px;
}

/* navbar */

nav {
    width: 100%;
    height: 15vh;
    border: 3px solid black;
}

.logotga {
    width: 250px;
    height: 10vh;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
}

.titles {
    display: flex;
    width: 50%;
    height: 15vh;
    align-items: center; 

}

.titles > li {
    padding-right: 30px;
}

/* header */

h1 {
    text-align: center;
}

/* Section */

section {
    display: flex;
    flex-direction: column;
}

.first, .second, .third {
    display: flex;
    width: 100%;
    height: 50vh;
    border: 3px solid black;
    margin: 10px;
}

.card1, .card2, .card3 {
    display: flex;
    flex-direction: row;
    padding: 10px;
}


p {
    margin: 0px 10px;
}

h3 {
    margin-left: 10px;
}